#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore generated secrets
examples/secrets/*

# ignore SSL issuer
examples/ssl/issuer.yaml

# ignore Kubernetes auth
examples/services/k8s_auth.tf
